<h1 class="text-center">Página principal</h1>

<section class="mt-5">
    <h2 class="text-center">Datos de los animales registrados.</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre Mascota</th>
                <th scope="col">Nombre propietario</th>
                <th scope="col">RUN Propietario</th>
                <th scope="col">Datos</th>
                <th scope="col">eliminar</th>


            </tr>
        </thead>
        <tbody>
            {{#each mascotas}}
            <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.nombre}}</td>
                <td>{{this.propietario.nombre}}</td>
                <td>{{this.propietario.run}}</td>
                <td><a href="/detalle_mascota/{{this.id}}" class="btn btn-primary">Ver más</a></td>
                <td><a onclick="eliminarMascota('{{this.nombre}}')" class="btn btn-danger eliminar">Eliminar</a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</section>

<div class="container">
    <form id="eliminarMascota">
        <div class="mb-3">
            <label for="" class="form-label">nombre de mascota</label>
            <input type="text" class="form-control" name="mascota" id="mascota" placeholder="ingrese nombre mascota"
                required>
            <div>
            </div>
            <button type="submit" class="btn btn-danger m-3">Eliminar</button>
    </form>
</div>
{{!-- nosotros teniamos do opciones
agregar un boton a la tabla o un formulario en ambas quedamos a media --}}
{{!-- --}}
<script>
    //se crea la funcion eliminar mascota
    const formulario = document.querySelector('#eliminarMascota');
    formulario.addEventListener('submit', (e) => {
        e.preventDefault();

        let mascota = document.querySelector('#mascota')

        fetch("http://localhost:3000/mascotas/" + mascota.value, {
            method: "delete"
        })
            .then((response) => response.json())
            .then((result) => {
                if (result.code != 200) {
                    alert(result.message)
                } else {
                    alert("Mascota eliminada.")
                    location.href = "/"
                }
            })
            //en caso de error imprimimos el error
            .catch((error) => console.log("error", error));

    })


    const eliminarMascota = (nombre) => {
    
                //realizarmos una peticion fetch al endpoint con la url
        fetch("http://localhost:3000/mascotas/" + nombre, {
            method: "delete"
        })
            .then((response) => response.json())
            .then((result) => {
                if (result.code != 200) {
                    alert(result.message)
                } else {
                    alert("Mascota eliminada.")
                    location.href = "/"
                }
            })
            //en caso de error imprimimos el error
            .catch((error) => console.log("error", error));

 
        //se rescata el valor del nombre
        // let nombre = document.querySelector('#mascota').value;

    };
</script>

